@model FAST_Alumni_2020_Web_Portal.Models.Organization




<div>
    <h4>Organization</h4>
    <hr />



    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 600px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        hr.style1 {
            border-top: 1px solid #8c8b8b;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>
    <div class="card">
        <img src="~/Content/Images/fast_banner.png" alt="John" style="width:100%">
        <h1> @Html.DisplayFor(model => model.name)</h1>
        <p class="title">Location:  @Html.DisplayFor(model => model.location)</p>
        <p>City:  @Html.DisplayFor(model => model.city)</p>
        <p>County: @Html.DisplayFor(modelItem => Model.country)</p>
        <p>Email:  @Html.DisplayFor(modelItem => Model.email)</p>
        
    </div>

    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
